* {
    border: 3px;
    border-radius: 3px;
    font-family: JetBrains Mono Nerd Font;
    font-size: 16px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
    background: rgba(33, 33, 33, .8);
    border: 3px solid rgba(255, 255, 255, 1);
}

tooltip label {
    color: white;
}

#workspaces {
    background: rgba(16, 16, 23, 1);
    border: 3px solid rgba(55, 113, 200, 1);
    border-radius: 3px;
    font-size: 16px;
}

#workspaces button.persistent {
    color: rgba(175, 198, 233, 1);
}

#workspaces button.empty {
    color: rgba(59, 60, 61, 1);
}

#workspaces button.active {
    color: rgba(245, 198, 39, 1);
}

#tray {
    background: rgba(16, 16, 23, 1);
    border: 3px solid rgba(55, 113, 200, 1);
    border-radius: 3px;
    margin-right: 0px;
    padding: 6px 10px 6px 10px; 
}

#wireplumber {
    background: rgba(16, 16, 23, 1);
    border: 3px solid rgba(55, 113, 200, 1);
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 0px;
    padding: 6px 10px 6px 10px;
}

#clock {
    background: rgba(16, 16, 23, 1);
    border: 3px solid rgba(55, 113, 200, 1);
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 6px 10px 6px 10px;
}
